.vs/
source/package/
source/RTSCamera.Shared/
source/RTSCamera/Properties/
source/*/bin/
source/*/obj/
*.DotSettings*
*.csproj.user
*.dll
*.html
steam_workshop_uploader.txt
steam_appid.txt
*/SteamWorkshopCreate.xml
*/SteamWorkshopUpdate.xml
*/PublishToSteamWorkshop.ps1
*/UpdateToSteamWorkshop.ps1